.home {
    position: relative;
    overflow: hidden;
    &:after {
        content: '';
        background-color: #020202;
        z-index: -2;
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
        left: 0;
    }
    .container {
        display: flex;
    }
    &__left,
    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__left {
        .btn_mob {
            display: none;
        }
    }
    &__info-text {
        color: $text-color2;
        font-weight: 600;
        padding: 2rem 0;
        max-width: 520px;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: .4rem 0;
    }
    &__img {
        max-width: 35px;
        width: 100%;
        text-align: center;
    }
    &__advantages {
        max-width: 420px;
    }
    &__text {
        padding-left: 2rem;
        font-size: 0.87rem;
        font-weight: 300;
    }
    &__call-to-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn {
            margin: 1rem 0;
        }
        .mrg {
            margin-bottom: 270px;
        }
        .link {
            align-self: flex-start;
        }
    }
    &__logos {
        &_b {
            img {
                max-width: 200px;
                background-color: $background-color1;
                border-radius: 10px;
                padding: .7rem;
                display: none;
            }
        }
        &_t {
            img {
                max-width: 200px;
            }
        }
    }
    &__back-img {
        z-index: -1;
        position: absolute;
        top: 0;
        left: -70px;
        &_desk {
            display: block;
        }
        &_mob {
            display: none;
        }
    }
    &__right {
        align-items: flex-end;
    }
    .attraction {
        margin-top: 6rem;
        max-width: 400px;
        color: $text-color1;
        font-size: 1.75rem;
        font-weight: 300;
        width: 56%;
        b {
            font-style: italic;
        }
        &__text {
            &_r {
                float: right;
                padding-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .home {
        .attraction {
            margin-top: 9rem;
            font-size: 1.1rem;
            width: 40%;
            &__text {
                &_r {
                    padding-top: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .content {
        margin-left: unset;
    }
    .home {
        background-color: unset;
        &:after {
            display: none;
        }
        &__back-img {
            &_desk {
                display: none;
            }
            &_mob {
                display: block;
                width: calc(100% + 6rem);
                margin: 0px -3rem;
                position: unset;
                margin-bottom: 2rem;
            }
        }
        .container {
            flex-direction: column;
            padding-top: .5rem;
        }
        &__left {
            display: unset;
            order: 2;
            width: 100%;
            .btn_mob {
                display: inline-block;
                margin-bottom: 1rem;
            }
        }
        &__right {
            display: none;
        }
        .attraction {
            margin-top: unset;
            max-width: 450px;
            width: 100%;
            &__text {
                &_r {
                    margin-top: -50px;
                    margin-bottom: 50px;
                }
            }
        }
        &__logos {
            &_b {
                position: absolute;
                top: 8px;
                left: 3rem;
                display: flex;
                align-items: center;
                img {
                    background-color: unset;
                    display: block;
                }
            }
        }
        &__call-to-action {
            .mrg {
                margin-bottom: 1rem;
            }
            .link {
                padding-left: calc(35px + 2rem);
                padding-top: 2rem;
            }
            .btn {
                display: none;
            }
        }
    }
}

@media (max-width: 420px) {
    .home {
        &__logos {
            &_b {
                left: 1rem;
            }
        }
    }
}