.prizes {
    &__sub {
        max-width: 500px;
    }
    &__tipe {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 0;
        max-width: 700px;
    }
    &__tipeitem {
        max-width: 300px;
        font-size: 1.3rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1rem 0;
    }
    &__text{
        margin-top: 1rem;
    }
}