.profile {
    &__info {
        display: flex;
        margin-top: 20px;
    }
    &__yourInfo {
        max-width: 320px;
        width: 100%;
    }
    &__yourName {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.6rem;
    }
    &__contItm {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    &__contInfoForm {
        font-weight: 300;
        color: #9b9b9b;
        font-size: 0.75rem;
        width: 60px;
    }
    &__contInfoData {
        font-weight: 300;
    }
    &__link {
        font-weight: 300;
        font-size: 0.75rem;
        color: #003ea9;
        &_arr {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 7px;
                height: 7px;
                border-top: 1px solid #ffc300;
                border-right: 1px solid #ffc300;
                right: -12px;
                bottom: 2px;
                transform: rotate(45deg);
            }
        }
        +.profile__link {
            margin-left: 35px;
        }
    }
    .btn-profile {
        margin-top: 50px;
    }
    &__regTitle {
        font-weight: 600;
        margin-bottom: 13px;
    }
    &__regCheckTab {
        text-align: left;
        thead th {
            font-size: 0.75rem;
            font-weight: 300;
            color: #9b9b9b;
            padding: 0;
            &:first-child {
                width: 315px;
            }
        }
        tbody td {
            padding: 15px 0;
            &:first-child {
                display: flex;
                align-items: center;
            }
        }
    }
    &__checkInfo {
        margin-left: 15px;
    }
    &__checkNum {
        font-size: 1.31rem;
        font-weight: 300;
    }
    &__checkDate {
        color: #8e91b9;
        font-size: 0.75rem;
    }
    &__numCheckDes {
        color: #9b9b9b;
        .profile__checkDate {
            color: #9b9b9b;
        }
    }
    &__supptext {
        max-width: 275px;
        font-weight: 300;
    }
    &__tel {
        color: #ffc300;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 5px;
        display: inline-block;
    }
    &__servSupport {
        margin-top: 20px;
    }
    &__tdIcon {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .profile {
        &__info {
            display: block;
        }
        &__regChecks {
            margin-top: 40px;
        }
        .btn-profile {
            margin-top: 35px;
        }
    }
}

@media only screen and (max-width: 479px) {
    .profile {
        &__tdText {
            display: none;
        }
        &__tdIcon {
            display: block;
        }
    }
}