.register-thank {
    &__sub {
        max-width: 500px;
        padding-bottom: 2rem;
        line-height: 1.18rem;
        p {
            margin: 0;

            span {
                font-weight: 600;
            }
        }
        p.register-thank__em-notif {
            margin-top: 10px;
        }
    }

    &__link {
        text-decoration: underline;
        color: #003ea9;
    }
    .container {
        padding-top: unset;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }
}