.register-suc {
    &__sub {
        max-width: 500px;
        padding-bottom: 2rem;
        line-height: 1.18rem;

        p {
            margin: 0;
        }
    }
    .container {
        padding-top: unset;
    }
}