.winners {
    .inp-bord {
        max-width: 220px;
        position: relative;
        margin: 2.5rem 0;
        .search {
            position: absolute;
            top: 36%;
            right: 13px;
            width: 12px;
            height: 14px;
            &::after {
                content: "";
                background-image: url(/img/ico/search.svg);
                position: absolute;
                right: 0;
                bottom: 0;
                width: 12px;
                height: 14px;
                cursor: pointer;
            }
            &::before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #f99d1b;
                right: -6px;
                top: -5px;
                opacity: 0;
                z-index: -1;
                transition: all .1s linear;
                cursor: pointer;
            }
        }
        &:hover {
            .search {
                &::before {
                    opacity: 1;
                    z-index: 1;
                }
                &::after {
                    height: 13px;
                    z-index: 9;
                    background-image: url(/img/ico/search-w.svg);
                }
            }
        }
        input {
            padding: 0.8rem 0.4rem;
        }
    }
    &__win-info {
        display: flex;
    }
    &__tickStage {
        width: 32%;
        margin-right: 110px;
    }
    &__winTitle {
        max-width: 300px;
        font-size: 1rem;
        line-height: 1.18rem;
        color: #1a1f71;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__prizesTable {
        text-align: left;
        thead th {
            font-size: 0.75rem;
            font-weight: 300;
            color: #9b9b9b;
            padding: 0 0 15px;
            &:first-child {
                width: 155px;
            }
        }
        tbody td {
            padding: 15px 0;
        }
    }
    &__notif-rally {
        color: #9b9b9b;
        font-weight: 300;
        line-height: 1.18rem;
        max-width: 315px;
        display: none;
        margin-top: 60px;
    }
    &__prizes {
        &.active {
            .winners__notif-rally {
                display: block;
            }
            .winners__prizesTable {
                display: none;
            }
        }
    }
    .tickets {
        .number {
            padding-left: 1.4rem;
            position: relative;
            font-weight: 300;
            width: 45%;
            margin-top: 30px;
            white-space: nowrap;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: -3px;
                background-image: url("../img/winners/tickets.svg");
                width: 18px;
                height: 22px;
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .winners {
        &__tickStage {
            width: 50%;
            margin-right: 0;
            padding-right: 25px;
        }
        &__win-info {
            justify-content: space-around;
        }
    }
}

@media only screen and (max-width: 767px) {
    .winners {
        &__win-info {
            flex-wrap: wrap;
        }
        &__tickStage {
            width: 100%;
            padding-right: 0;
        }
        &__prizes {
            width: 100%;
            margin-top: 50px;
        }
    }
}

@media only screen and (max-width: 479px) {
    .winners {
        .tickets {
            .number {
                font-size: 0.87rem;
            }
        }
        &__prizesTable {
            width: 100%;
            thead {
                display: none;
            }
            tbody td:last-child {
                text-align: right;
                color: #000;
            }
            tbody td {
                font-size: .87rem;
            }
        }
        &__notif-rally {
            margin-top: 30px;
        }
    }
}