* {
    box-sizing: border-box;
    outline: none 0;
    html .clearfix {
        zoom: 1;
        /* IE6 */
    }
    &:first-child+html .clearfix {
        zoom: 1;
        /* IE7 */
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.f {
    display: flex;
}

.f-wr {
    flex-wrap: wrap;
}

.f-sb {
    justify-content: space-between;
}

.pad-t-b {
    padding: 6em 0;
}

.w100 {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin linear-gradient($args...) {
    background-image: -o-linear-gradient($args);
    background-image: -moz-linear-gradient($args);
    background-image: -webkit-linear-gradient($args);
    background-image: linear-gradient($args);
}

.accordion {
    &__item {
        h3 {
            cursor: pointer;
            padding-left: 2.5rem;
            position: relative;
            margin-bottom: 0.5rem;
            &:hover {
                color: $accent-color;
            }
            &:before {
                content: "";
                border: 1px solid $btn-color;
                border-radius: 100px;
                width: 25px;
                height: 25px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &:after {
                content: "+";
                position: absolute;
                left: 14px;
                transform: translate(-50%, 0);
                bottom: 1px;
                color: $text-color5;
                font-size: 1.5rem;
            }
        }
        div {
            height: 0;
            overflow: hidden;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            padding-left: 2.5rem;
            p {
                font-weight: 300;
                color: $text-color3;
            }
        }
        &.open {
            div {
                height: auto;
            }
            h3 {
                &:before {
                    border-color: $text-color6;
                }
                &:after {
                    content: "-";
                    bottom: 3px;
                    color: $text-color6;
                }
            }
        }
    }
}

//Tabs
.tabs {
    &__content {
        display: none;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &_active {
            display: flex;
        }
    }

    &__caption {
        padding-left: 0;
        list-style: none;
        margin: 0;
    }

    &__linkTab {
        display: inline-block;
        color: #003ea9;
        font-size: 0.75rem;
        text-decoration: underline;
        font-weight: 300;
        cursor: pointer;

        & + li {
            margin-left: 20px;
        }

        &_active {
            color: #9b9b9b;
            text-decoration: none;
        }
    }
}