body {
    font-family: $base-font;
}

.height-helper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.content {
    margin-left: 70px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: $container-w;
    padding: 3rem 3rem;
}

ul {
    padding-left: 2em;
}

.social {
    a {
        color: $text-color1;
        text-decoration: none;
        font-size: 1rem;
        background-color: $text-color5;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        margin: 0 3px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        &:hover {
            background-color: $accent-color!important;
        }
        &:before {
            top: 4px;
            position: relative;
        }
    }
}

.rule {
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
    &:after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-top: 1px solid $btn-color;
        border-right: 1px solid $btn-color;
        right: -18px;
        bottom: 6px;
        transform: rotate(45deg);
    }
    &:hover {
        color: $accent-color;
        &:after {
            border-color: $accent-color;
        }
    }
}

@media screen and (max-width: 420px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}