.footer {
    .container {
    }
    .social {
        a {
            &:first-child {
            }
        }
    }
    &__contact {
    }
    &__tel {
    }
    &__desc {
    }
    &__right {
        .social {
        }
    }
    &__left {
    }
    @media screen and (max-width: 991px) {
        &__left {
        }
        &__right {
        }
    }
}