.lpc-input {
    &_styled {
        &:focus {
        }
    }
}

.inp-bord {
    input {
    }
}

// Custom checkbox
.chekbox {
    input {
        cursor: pointer;
        &:checked~.checkmark:after {
        }
    }
    .checkmark {
        &:after {
            content: "";
        }
    }
    &:hover {
        input~.checkmark {
        }
    }
}

// Показать пароль
.eay {
    cursor: pointer;
    .hide {
    }
}

.show {
    .show {
    }
    .hide {
    }
}

//error
.error {
    &__text {
    }
    .lpc-input {
    }
    .error__text {
    }
}