.lpc-form {
    .sub {
    }
    .mr {
    }
    &__select {
    }
    .select2-selection {
        &__arrow {
        }
        &__rendered {
        }
    }
    &__numCheck {
        &.js-vis {
        }
    }
    .checkImg {
    }
    .popupExit {
    }
    &__popupWarn {
        span {
        }
    }
    &__popupCheck {
        &.active {
        }
    }
    &__numCheckText {
    }
    .input-wrapper {
        .input-style {
        }
        label {
        }
        &.textarea {
            label {
            }
            textarea {
            }
        }
        .line-v {
        }
    }
    .lpc-input {
        &.invalid {
        }
        &.success {
        }
        &+span {
            cursor: help;
            &:before {
                content: "?";
            }
            .invalid {
            }
            &:hover {
                .invalid {
                }
            }
        }
    }
    &_info_hide {
        .lpc-input+span {
        }
    } // Imput заполняется
    %label-movement {
    }
    .input-wrapper {
        input,
        textarea {
            &:focus {
                ~label {
                }
                ~.line-v {
                }
            }
            &:not([value=""]),
            &:valid {
                ~label {
                }
                ~.line-v {
                }
            }
        }
    }
    &_horizont {
        .lpc-form__title {
        }
        .input-wrapper {
        }
        .btn_block {
        }
    }
    .add {
        cursor: pointer;
        &__text {
        }
        &__img {
            &:after {
            }
        }
        &:hover {
            .add__img {
                &:after {
                }
            }
            .add__text {
            }
        }
    }
    .delete {
        &.hide {
        }
    }
}

.lpc-policy {
    &__row {
        &_align-start {
        }
    }
    &__checkbox {
        &.invalid {
            &+span {
                &+.lpc-policy__text {
                }
            }
        }
    }
    &__text {
        a {
        }
    }
    &__detail {
    }
    &__hidden {
    }
}

.input-container {
}

@media only screen and (max-width: 599px) {
    .lpc-form {
        .add {
        }
        &__numCheck {
        }
    }
}