.menu {
    &__vertical {
        &:after {
            content: "";
        }
    }
    &__burger {
        .line {
            &:last-child {
            }
        }
        &:hover {
            .line {
            }
        }
    }
    &__full {

        .container {
        }
    }
    &.open {
        .menu__full {
            .container {
            }
        }
        .menu__vertical:after {
        }
        .menu__burger {
            .line {
                &:nth-child(1) {
                }
                &:nth-child(2) {
                }
                &:nth-child(3) {
                }
            }
        }
    }
    &__nav {
        li {
        }
    }
    &__navitem {
        a {
        }
        &:hover {
            a {
            }
        }
        &_b {
            a {
            }
        }
        &_sm {
            a {
                &:before {
                }
            }
            i {
            }
        }
    }
    .footer {
        &__tel {
        }
        &__desc {
        }
        .social {
            a {
                &:hover {
                }
            }
        }
    }
    a {
    }
}

@media only screen and (max-width: 991px) {
    .menu {
        &__zagl {
        }
        &__burger {
        }
        &__vertical {
        }
        &.open {
            .menu__vertical:after {
            }
            .menu__full {
            }
        }
        &__full {
        }
        .container {
        }
        &__burger {
            &:hover {
                .line {
                }
            }
        }
        .footer {
            &__desc {
            }
        }
    }
}

@media only screen and (max-width: 420px) {}