include ../../node_modules/bemto.pug/bemto
include global/head.pug

body
    .height-helper
        SECTION.menu.menu__zagl
        .content
            .content-helper
                include section/home-zaglush.pug
            include blocks/footer.pug

include global/scripts.pug