include ../../node_modules/bemto.pug/bemto
include global/head.pug

body
    .height-helper
        include blocks/menu.pug
        .content
            .content-helper
                include section/home.pug
            include blocks/footer.pug

include global/scripts.pug