.btn {
    background: $btn-color;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.8rem;
    cursor: pointer;
    transition: all 230ms ease-in;
    color: $text-color1;
    font-family: $base-font;
    text-transform: uppercase;
    text-decoration: unset;
    display: inline-block;
    &:hover {
        background: $accent-color;
        border-color: $accent-color;
    }
    &_block {
        width: 100%;
    }
    &_lite {
        background: unset;
        border: 1px solid;
        text-decoration: none;
    }
}

.link {
    font-size: 0.87rem;
    font-weight: 100;
}