.footer {
    background-color: $background-color2;
    overflow: hidden;
    font-weight: 300;
    .container {
        padding-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .social {
        padding: 0.5rem 0;
        a {
            &:first-child {
                padding-left: unset;
            }
        }
    }
    &__contact {
        padding: 0.5rem 0;
        max-width: 300px;
    }
    &__tel {
        color: $text-color5;
        font-size: 1.5rem;
    }
    &__desc {
        padding: 0.5rem 0;
        color: $text-color6;
        font-size: 0.7rem;
        max-width: 820px;
        line-height: 1.3;
    }
    &__right {
        .social {
            display: flex;
            justify-content: space-between;
        }
    }
    &__left {
        flex-grow: 1;
    }
    @media screen and (max-width: 991px) {
        &__left {
            order: 2;
            width: 100%;
        }
        &__right {
            margin-left: auto;
        }
    }
}