.header {
    .container {
        padding-top: .5rem;
        padding-bottom: unset;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logos {
        &_t {
            img {
                max-width: 200px;
            }
        }
    }
}