.lpc-input {
    width: 100%;
    font-weight: normal;
    padding: 0.4rem 0.2rem;
    background: none;
    color: $text-color2;
    border: none;
    border-bottom: 1px solid #ccc;
    font-family: $base-font;
    &_styled {
        padding: 0.8rem;
        border: 2px solid #ddd;
        transition: all 230ms ease-in;
        &:focus {
            border-color: #aaa;
        }
    }
}

.inp-bord {
    font-size: .75rem;
    font-weight: 300;
    input {
        border: 1px solid $background-base-color;
    }
}

// Custom checkbox
.chekbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    flex-shrink: 0;
    input {
        position: absolute;
        opacity: 0;
        width: 20px;
        height: 20px;
        z-index: 1;
        cursor: pointer;
        &:checked~.checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid #ffc300;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid black;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
    &:hover {
        input~.checkmark {
            background: #ccc;
        }
    }
}

// Показать пароль
.eay {
    position: absolute;
    right: 1px;
    bottom: 8px;
    cursor: pointer;
    .hide {
        display: none;
    }
}

.show {
    .show {
        display: none;
    }
    .hide {
        display: block;
    }
}

//error
.error {
    &__text {
        display: none;
        font-size: .75rem;
        font-weight: 300;
        color: $text-color5;
        margin-top: 2px;
    }
    .lpc-input {
        border-color: $background-color4;
    }
    .error__text {
        display: block;
    }
}