.lpc-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    justify-content: space-between;
    .sub {
        padding: 2rem 0;
    }
    .mr {
        margin-right: 100%;
    }
    &__select {
        width: 220px;
    }
    .select2-selection {
        height: 48px;
        display: flex;
        align-items: center;
        border-radius: unset;
        &__arrow {
            top: 50% !important;
            transform: translate(0, -50%) !important;
        }
        &__rendered {
            color: $text-color2 !important;
        }
    }
    &__numCheck {
        position: absolute;
        left: 120%;
        top: 50%;
        display: none;
        &.js-vis {
            display: inline-block;
        }
    }
    .checkImg {
        margin-left: -49px;
    }
    .popupExit {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
    &__popupWarn {
        padding: 15px 20px;
        border: 2px solid #d0021b;
        background-color: #ffffff;
        max-width: 192px;
        margin-top: 8px;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
        color: #d0021b;
        line-height: 1rem;
        font-weight: 600;
        span {
            margin-left: 14px;
        }
    }
    &__popupCheck {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, .5);
        z-index: -1;
        opacity: 0;
        transition: all .2s ease-out;
        &.active {
            z-index: 20;
            opacity: 1;
            overflow: scroll;
        }
    }
    &__numCheckText {
        color: #003ea9;
        font-weight: 300;
        display: inline-block;
        border-bottom: 1px dashed #003ea9;
        margin-bottom: 1rem;
        cursor: pointer;
        white-space: nowrap;
    }
    .input-wrapper {
        position: relative;
        margin-bottom: 2rem;
        font-size: 1em;
        margin-top: 2rem;
        min-width: 220px;
        .input-style {
            position: relative;
        }
        label {
            pointer-events: none;
            position: absolute;
            bottom: 0.6rem;
            left: 0.2rem;
            transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        }
        &.textarea {
            label {
                top: 0.6rem;
            }
            textarea {
                border: 1px solid #ccc;
            }
        }
        .line-v {
            width: 0;
            height: 1px;
            bottom: 0px;
            position: absolute;
            background: $text-color2;
            transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        }
    }
    .lpc-input {
        position: relative;
        height: 100%;
        &.invalid {
            border-color: #e74c3c;
        }
        &.success {
            border-color: #2ecc71;
        }
        &+span {
            position: absolute;
            width: 13px;
            height: 13px;
            border: 1px solid;
            border-radius: 50%;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: help;
            &:before {
                content: "?";
                font-size: 10px;
                position: absolute;
                left: 3px;
            }
            .invalid {
                position: absolute;
                white-space: nowrap;
                top: 0;
                left: 30px;
                font-size: 8pt;
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                .invalid {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    &_info_hide {
        .lpc-input+span {
            display: none !important;
        }
    } // Imput заполняется
    %label-movement {
        transition: all 0.25s cubic-bezier(0.39, 0.9, 0.71, 1);
        transform: translate(0, -2rem);
        color: #ccc;
        font-size: 0.7em;
    }
    .input-wrapper {
        input,
        textarea {
            &:focus {
                justify-content: center;
                ~label {
                    @extend %label-movement;
                }
                ~.line-v {
                    width: 100%;
                }
            }
            &:not([value=""]),
            &:valid {
                ~label {
                    @extend %label-movement;
                }
                ~.line-v {
                    width: 100%;
                }
            }
        }
    }
    &_horizont {
        display: flex;
        max-width: unset;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        .lpc-form__title {
            flex-basis: 100%;
            text-align: unset;
            text-transform: unset;
        }
        .input-wrapper {
            flex-basis: 300px;
            margin-right: 1em;
            flex-grow: 1;
        }
        .btn_block {
            width: unset;
            flex-basis: 300px;
            margin-bottom: 2rem;
            flex-grow: 1;
            margin-right: 1em;
        }
    }
    .add {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 2rem;
        &__text {
            color: $text-color2;
            border-bottom: 1px dashed $text-color2;
            transition: all .1s linear;
        }
        &__img {
            display: flex;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 100px;
            margin-right: 1rem;
            justify-content: center;
            border: 1px solid #003ea9;
            align-items: center;
            font-size: 2.5rem;
            color: $text-color1;
            font-weight: 100;
            transition: all .1s linear;
            &:after {
                content: '+';
                color: #003ea9;
            }
        }
        &:hover {
            .add__img {
                border: 1px solid #6da2fc;
                &:after {
                    color: #6da2fc;
                }
            }
            .add__text {
                color: #6da2fc;
                border-bottom: 1px dashed #6da2fc;
            }
        }
    }
    .delete {
        position: absolute;
        bottom: 5px;
        right: 1px;
        cursor: pointer;
        &.hide {
            display: none;
        }
    }
}

.lpc-policy {
    padding: 0.5rem 0;
    font-size: 8pt;
    color: #797979;
    width: 100%;
    &__row {
        display: flex;
        align-items: center;
        padding-bottom: 0.8rem;
        &_align-start {
            align-items: flex-start;
        }
    }
    &__checkbox {
        float: left;
        margin-right: 0.6rem;
        &.invalid {
            &+span {
                color: red;
                font-weight: bold;
                &+.lpc-policy__text {
                    display: none;
                }
            }
        }
    }
    &__text {
        display: table;
        line-height: 1.3rem;
        color: #4a4a4a;
        font-weight: 300;
        a {
            color: #003ea9;
        }
    }
    &__detail {
        border-bottom: 1px dashed;
        text-decoration: none;
    }
    &__hidden {
        padding-left: 2rem;
        max-width: 340px;
        word-break: keep-all;
        color: #aaa;
        display: none;
    }
}

.input-container {
    width: 100%;
}

@media only screen and (max-width: 599px) {
    .lpc-form {
        .add {
            margin-top: 3rem;
        }
        &__numCheck {
            left: 0;
            top: 64px;
        }
    }
}