.menu {
    position: fixed;
    z-index: 1;
    font-size: 0.75rem;
    width: 70px;
    height: 100vh;
    color: $text-color1;
    &__vertical {
        display: flex;
        justify-content: center;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        height: 100vh;
        background-color: #122d98;
        // background-image: linear-gradient(0deg, #1a1e5a 0%, #17236f 100%);
        &:after {
            content: "";
            height: 100%;
            width: 100%;
            background-color: #ffc300;
            position: absolute;
            height: 0;
            transition: 0.5s;
        }
    }
    &__burger {
        z-index: 1;
        cursor: pointer;
        display: inline-block;
        margin-top: 3rem;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        .line {
            width: 100%;
            height: 2px;
            background-color: $background-color1;
            margin-top: 4px;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            &:last-child {
                width: 50%;
            }
        }
        &:hover {
            color: $accent-color;
            .line {
                background-color: $accent-color;
            }
        }
    }
    &__full {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(45deg, #1a1e5a 0%, #122d98 100%);
        transform: translate(calc(-100% + 70px), 0);
        z-index: -1;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        padding-left: 70px;
        opacity: 0;
        pointer-events: none;
        .container {
            position: relative;
            opacity: 0;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
    &.open {
        .menu__full {
            opacity: 1;
            pointer-events: all;
            transform: translate(0, 0);
            .container {
                opacity: 1;
            }
        }
        .menu__vertical:after {
            height: 100vh;
        }
        .menu__burger {
            color: $text-color2;
            .line {
                background-color: $background-base-color;
                &:nth-child(1) {
                    transform: rotate(45deg) translate(11px, 9px);
                }
                &:nth-child(2) {
                    transform: rotate(135deg) translate(5px, -7px);
                }
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }
    &__nav {
        display: inline-block;
        padding-left: unset;
        li {
            list-style-type: none;
        }
    }
    &__navitem {
        color: $text-color4;
        font-size: calc(14px + (32 - 14) * ((100vw - 300px) / (1920 - 300)));
        margin: .2em 0;
        a {
            color: $text-color4;
        }
        &:hover {
            color: $accent-color;
            a {
                color: $accent-color;
            }
        }
        &_b {
            margin-bottom: 2em;
            a {
                color: $text-color5;
            }
        }
        &_sm {
            font-size: calc(14px + (21 - 14) * ((100vw - 300px) / (1920 - 300)));
            margin-top: 2em;
            color: $text-color5;
            display: inline-block;
            position: relative;
            a {
                position: relative;
                color: $text-color5;
                &:before {
                    position: absolute;
                    right: -18px;
                    bottom: -1px;
                }
            }
            i {
                position: absolute;
                right: -18px;
                bottom: 0px;
            }
        }
    }
    .footer {
        background-color: unset;
        color: $text-color4;
        &__tel {
            color: $text-color4;
        }
        &__desc {
            color: $text-color4;
        }
        .social {
            a {
                background-color: unset;
                border: 1px solid $background-color3;
                color: $text-color4;
                &:hover {
                    background-color: unset!important;
                    border: 1px solid $background-color1;
                    color: $text-color1;
                }
            }
        }
    }
    a {
        text-decoration: none;
    }
}

@media only screen and (max-width: 991px) {
    .menu {
        &__zagl {
            display: none;
        }
        right: 0;
        &__burger {
            margin-top: .6rem;
        }
        &__vertical {
            height: 70px;
            background-image: linear-gradient(0deg, #1a1e5a 0%, #17236f 100%);
        }
        &.open {
            .menu__vertical:after {
                height: 70px;
            }
            .menu__full {
                transform: translate(calc(-100% + 70px), 0);
            }
        }
        &__full {
            transform: translate(70px, 0);
            padding-left: unset;
            overflow-y: scroll;
        }
        .container {
            padding-right: calc(70px + 1rem);
        }
        &__burger {
            &:hover {
                color: $text-color1;
                .line {
                    background-color: $background-color1;
                }
            }
        }
        .footer {
            &__desc {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 420px) {}