.home {
    &:after {
    }
    .container {
    }
    &__left,
    &__right {
    }
    &__left {
        .btn_mob {
        }
    }
    &__info-text {
    }
    &__item {
    }
    &__img {
    }
    &__advantages {
    }
    &__text {
    }
    &__call-to-action {
        .btn {
        }
        .mrg {
        }
        .link {
        }
    }
    &__logos {
        &_b {
            img {
            }
        }
        &_t {
            img {
            }
        }
    }
    &__back-img {
        &_desk {
        }
        &_mob {
        }
    }
    &__right {
    }
    .attraction {
        b {
        }
        &__text {
            &_r {
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .home {
        .attraction {
            &__text {
                &_r {
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .content {
    }
    .home {
        &:after {
        }
        &__back-img {
            &_desk {
            }
            &_mob {
            }
        }
        .container {
        }
        &__left {
            .btn_mob {
            }
        }
        &__right {
        }
        .attraction {
            &__text {
                &_r {
                }
            }
        }
        &__logos {
            &_b {
                img {
                }
            }
        }
        &__call-to-action {
            .mrg {
            }
            .link {
            }
            .btn {
            }
        }
    }
}

@media (max-width: 420px) {
    .home {
        &__logos {
            &_b {
            }
        }
    }
}