.profile {
    &__info {
    }
    &__yourInfo {
    }
    &__yourName {
    }
    &__contItm {
    }
    &__contInfoForm {
    }
    &__contInfoData {
    }
    &__link {
        &_arr {
            &:after {
            }
        }
        +.profile__link {
        }
    }
    .btn-profile {
    }
    &__regTitle {
    }
    &__regCheckTab {
        thead th {
            &:first-child {
            }
        }
        tbody td {
            &:first-child {
            }
        }
    }
    &__checkInfo {
    }
    &__checkNum {
    }
    &__checkDate {
    }
    &__numCheckDes {
        .profile__checkDate {
        }
    }
    &__supptext {
    }
    &__tel {
    }
    &__servSupport {
    }
    &__tdIcon {
    }
}

@media only screen and (max-width: 800px) {
    .profile {
        &__info {
        }
        &__regChecks {
        }
        .btn-profile {
        }
    }
}

@media only screen and (max-width: 479px) {
    .profile {
        &__tdText {
        }
        &__tdIcon {
        }
    }
}