.register-thank {
    &__sub {
        p {
            span {
            }
        }
        p.register-thank__em-notif {
        }
    }

    &__link {
    }
    .container {
    }
}

@media only screen and (max-width: 480px) {
    h1 {
    }
}