.winners {
    .inp-bord {
        .search {
            &::after {
            }
            &::before {
            }
        }
        &:hover {
            .search {
                &::before {
                }
                &::after {
                }
            }
        }
        input {
        }
    }
    &__win-info {
    }
    &__tickStage {
    }
    &__winTitle {
    }
    &__prizesTable {
        thead th {
            &:first-child {
            }
        }
        tbody td {
        }
    }
    &__notif-rally {
    }
    &__prizes {
        &.active {
            .winners__notif-rally {
            }
            .winners__prizesTable {
            }
        }
    }
    .tickets {
        .number {
            &:before {
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .winners {
        &__tickStage {
        }
        &__win-info {
        }
    }
}

@media only screen and (max-width: 767px) {
    .winners {
        &__win-info {
        }
        &__tickStage {
        }
        &__prizes {
        }
    }
}

@media only screen and (max-width: 479px) {
    .winners {
        .tickets {
            .number {
            }
        }
        &__prizesTable {
            thead {
            }
            tbody td:last-child {
            }
            tbody td {
            }
        }
        &__notif-rally {
        }
    }
}