@import "../../node_modules/normalize.css/normalize.css";
// ------------------
//      BASE VARS
// ------------------
$base-font: "Open Sans",
sans-serif;
$base-color: #000;
$accent-color: #f99d1b;
$btn-color: #ffc300;
$text-color1: #fff;
$text-color2: #1a1f71;
$text-color3: #4a4a4a;
$text-color4: #7577ad;
$text-color5: #ffc300;
$text-color6: #9b9b9b;
$background-base-color: #1a1f71;
$background-color1: #fff;
$background-color2: #f8f8f8;
$background-color3: #7577ad;
$background-color4: #ffc300;
$container-w: 1200px;
$phone: '(max-width: 930px)';
$tablet: '(max-width: 1200px)';
@import "global/helpers";
@import "global/fonts";
@import "global/layout";
// ------------------------------------
//          T Y P O G R A P H Y
// ------------------------------------
html,
body {
    font-family: $base-font;
    color: $text-color2;
}

h1 {
    font-size: 2.75rem;
    font-weight: 300;
}

h3 {
    font-size: 1.3rem;
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-weight: 300;
}

h6 {
    font-size: .75rem;
    font-weight: 300;
}

.sub {
    color: $text-color3;
    font-weight: 300;
}

@import "blocks/logo";
@import "blocks/menu";
@import "blocks/header";
@import "blocks/lpc-form";
@import "blocks/buttons";
@import "blocks/inputs";
@import "blocks/footer";
@import "blocks/content-footer";
@import "section/home";
@import "section/register";
@import "section/login";
@import "section/prizes";
@import "section/winners";
@import "section/profile";
@import "section/register-thank";
@import "section/register-suc";
.popup {
    max-width: 450px;
    font-family: $base-font;
    &__title {
        font-weight: 500;
    }
}

// .lt-ie {
//     @import "ie-styles/global/helpers";
//     @import "ie-styles/global/layout";
//     @import "ie-styles/blocks/logo";
//     @import "ie-styles/blocks/menu";
//     @import "ie-styles/blocks/header";
//     @import "ie-styles/blocks/lpc-form";
//     @import "ie-styles/blocks/buttons";
//     @import "ie-styles/blocks/inputs";
//     @import "ie-styles/blocks/footer";
//     @import "ie-styles/blocks/content-footer";
//     @import "ie-styles/section/home";
//     @import "ie-styles/section/register";
//     @import "ie-styles/section/login";
//     @import "ie-styles/section/prizes";
//     @import "ie-styles/section/winners";
//     @import "ie-styles/section/profile";
//     @import "ie-styles/section/register-thank";
//     @import "ie-styles/section/register-suc";
// }