+b.SECTION.register
    .container
        +e.H1.title Зарегистрировать чек
        +b.FORM.lpc-form(class="validate-form")
            .sub Найдите на чеке с заправки номер RRN и введите его в поле ниже. Не забудьте, что зарегистрировать можно только чеки с заправкой от 25 литров в сети АЗС «Газпромнефть» с оплатой картой VISA
            .input-container
                .input-wrapper.mr.check-num.example.js-rrn
                    //- Введите RRN-номер чека
                    input.lpc-input(type="text" name="pass" placeholder="" value="" required)
                    .delete.hide
                        img.minus(src="/img/form/minus.png")
                    label
                        span RRN-номер чека
                    .line-v
                    +e.numCheck.js-vis
                        +e.SPAN.numCheckText Где найти номер чека?
                        +e.popupCheck
                            img.popupExit(src="img/ico/exit-white.svg", alt="")
                            img.checkImg(src="img/home/check__mob.png", alt="")
                            +e.popupWarn
                                img(src="img/ico/exit-red.svg", alt="")
                                span Не под строчкой «Бонусная карта»
            +b.add
                +e.img
                +e.text Добавить еще один чек
            //- +e.numCheck
            //-     +e.SPAN.numCheckText Где найти номер чека?
            //-     +e.popupCheck
            //-         img.popupExit(src="img/ico/exit-white.svg", alt="")
            //-         img.checkImg(src="img/home/check__mob.png", alt="")
            //-         +e.popupWarn
            //-             img(src="img/ico/exit-red.svg", alt="")
            //-             span Не под строчкой «Бонусная карта»
            +b.lpc-policy
                    +e.LABEL.row
                        .chekbox
                            +e.INPUT.input.checkbox.lpc-checkbox(type="checkbox" name="termsofaction")
                            span.checkmark
                        +e.text
                            | Я соглашаюсь с
                            |
                            a(href="docs/pers-data.pdf" target="_blank") полными условиями акции

                    +e.LABEL.row
                        .chekbox
                            +e.INPUT.input.checkbox.lpc-checkbox(type="checkbox" name="personalAgreement")
                            span.checkmark
                        +e.text
                            | Я подтверждаю, что мне исполнилось 18 лет на момент участия в акции
                            |


            BUTTON.btn Зарегистрироваться
        