+b.SECTION.contact-form
    .container
        .row
            +e.H1.title Обратная связь
            A.rule <nobr>Полные правила акции</nobr> 
        +e.sub.sub Если у вас возникли вопросы или предложения, напишите нам. Мы обязательно ответим!
        +b.FORM.lpc-form(class="validate-form")
            .input-wrapper
                //- Введите Name
                input.lpc-input(type="text" name="name" placeholder="" value!="" id="lpc-name" required)
                label
                    span Имя
                .line-v
            .input-wrapper
                //- Введите email
                input.lpc-input(type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required)
                label
                    span Email
                .line-v
            +e.SELECT.select(name="theme")
                option(value="def") Выберите тему
                option(value="test") Test
                option(value="test2") Test2
            .input-wrapper.w100.textarea
                //- Введите Текст
                textarea.lpc-input(type="text" rows="5" name="message" placeholder="" value="" id="lpc-message" required)
                label
                    span Текст
                .line-v


            BUTTON.btn Отправить
        