+b.SECTION.faq
    .container
        +e.H1.title FAQ
        +b.accordion
            +e.item
                +e.H3.itemtitle Кто организует эту акцию?
                DIV
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, repellat ullam exercitationem laborum, possimus dolore est similique, debitis voluptatem sed error voluptate! Repudiandae assumenda animi inventore atque blanditiis a quae.
            +e.item
                +e.H3.itemtitle Кто может принимать участие в акции?
                DIV
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, repellat ullam exercitationem laborum, possimus dolore est similique, debitis voluptatem sed error voluptate! Repudiandae assumenda animi inventore atque blanditiis a quae.
            +e.item
                +e.H3.itemtitle Что, если мой чек не регистрируется?
                DIV
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, repellat ullam exercitationem laborum, possimus dolore est similique, debitis voluptatem sed error voluptate! Repudiandae assumenda animi inventore atque blanditiis a quae.
            +e.item
                +e.H3.itemtitle Какие заправки участвуют в акции?
                DIV
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, repellat ullam exercitationem laborum, possimus dolore est similique, debitis voluptatem sed error voluptate! Repudiandae assumenda animi inventore atque blanditiis a quae.
            