+b.SECTION.home
    .container
        +e.left
            +e.logos_t
                img(src="/img/home/logos.png")
            +e.info-text C 20 мая по 15 июля оплатите картой Visa заправку от 25 литров на АЗС «Газпромнефть» и получите шанс выиграть билеты на Чемпионат мира по футболу FIFA™ и другие уникальные призы! 
            A.btn.btn_mob.mrg(href="/register.html") Зарегистрировать чек                
            +e.img.back-img_mob(src="/img/home/bg-home-mob.jpg")
            +e.advantages
                +e.item
                    +e.img
                        img(src="/img/home/visa.png")
                    +e.text Оплачивайте картой Visa заправки любым видом топлива от 25 литров на АЗС «Газпромнефть»
                +e.item
                    +e.img
                        img(src="/img/home/check.png")
                    +e.text Регистрируйте чеки
                +e.item
                    +e.img
                        img(src="/img/home/ticket.png")
                    +e.text Участвуйте в розыгрыше билетов на матчи Чемпионата мира по футболу FIFA™ и уникальных призов с символикой FIFA™
                +e.call-to-action
                    A.btn.mrg(href="/register.html") Зарегистрировать чек
                    A.link(href="http://gpn-promo.com/rules.pdf") Полные правила акции
            +e.img.back-img_desk(src="/img/home/bg-home.jpg")
        +e.right
            +b.attraction
                +e.text_l <b>ВЫ</b> МЕЧТАЕТЕ<br>ПОПАСТЬ НА<br> ЧЕМПИОНАТ МИРА
                +e.text_r <b>VISA</b> ДАРИТ<br>ВАМ ШАНС
            +e.logos_b
                img(src="/img/home/visa-white.png")
            
            