+b.SECTION.login
    .container
        +e.H1.title Вход
        +e.sub.sub Используйте email и пароль, которые вы указали при регистрации, чтобы войти на сайт.
        +b.FORM.lpc-form(class="validate-form")
            .input-wrapper.mr
                //- Введите email
                .input-style
                    input.lpc-input(type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required)
                    label
                        span Email
                    .line-v
            .input-wrapper.mr.error
                //- Введите пароль
                .input-style
                    input.lpc-input(type="password" name="pass" placeholder="" value="" id="lpc-pass" required)
                    .eay
                        img.show(src="/img/form/eay-show.png")
                        img.hide(src="/img/form/eay-hide.png")
                    label
                        span Пароль
                    .line-v
                .error__text Пароль не подходит, попробуйте еще раз
        
            BUTTON.btn Войти
        +e.links
            A.link(href="#") Забыли пароль?
            A.link(href="/register.html") Зарегистрироваться
        