+b.SECTION.prizes
    .container
        +e.H1.title Призы
        +e.sub.sub Регистрируйте чеки и получите шанс поехать на чемпионат мира по футболу FIFA™. Или выигрывайте поощрительные призы с автографами футболистов!
        +e.tipe
            +e.tipeitem
                +e.img
                    img(src="/img/prizes/tickets.png")
                +e.text Билеты на Чемпионат мира по футболу FIFA™
            +e.tipeitem
                +e.img
                    img(src="/img/prizes/prizes.png")
                +e.text Поощрительные призы с автографами футболистов
        A.btn(href="/register.html") Зарегистрировать чек
        
            
                