+b.SECTION.profile
    .container
        .row
            +e.H1.title Личный кабинет
            A.rule <nobr>Полные правила акции</nobr> 
        +e.info
            +e.yourInfo
                +e.yourName Алина Зверева
                +e.contInfo
                    +e.contItm
                        +e.SPAN.contInfoForm Email
                        +e.SPAN.contInfoData zvereva@mail.com
                    +e.contItm
                        +e.SPAN.contInfoForm Телефон
                        +e.SPAN.contInfoData +7 909 582 4263
                    +e.contItm
                        +e.A.link(href="#") Изменить данные
                        +e.A.link_arr(href="#") Выйти
                A.btn.btn-profile(href="check-reg.html") зарегистрировать чек
            +e.regChecks
                +e.regTitle Зарегистрированные чеки
                +e.TABLE.regCheckTab
                    +e.THEAD
                        +e.TR
                            +e.TH Номер чека
                            +e.TH Статус
                    +e.TBODY
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Проверяется
                                +e.img.tdIcon(src="img/profile/testing.svg", alt="")
                        +e.TR.numCheckDes
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Отклонен
                                +e.img.tdIcon(src="img/profile/rejected.svg", alt="")
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Зарегистрирован
                                +e.img.tdIcon(src="img/profile/reg.svg", alt="")
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Зарегистрирован
                                +e.img.tdIcon(src="img/profile/reg.svg", alt="")
                        +e.TR
                            +e.TD
                                +e.img(src="img/profile/page.svg", alt="")
                                +e.checkInfo
                                    +e.checkNum 7298 2935 2852
                                    +e.checkDate 13 марта 2018
                            +e.TD
                                +e.SPAN.tdText Зарегистрирован
                                +e.img.tdIcon(src="img/profile/reg.svg", alt="")
        +e.servSupport
            +e.supptext Если у вас возникнут вопросы, задайте их службе поддержки:
            +e.SPAN.tel 
                nobr 8 800 700 51 51
            