+b.SECTION.register
    .container
        +e.H1.title Регистрация
        +e.sub.sub Регистрируйтесь на сайте, чтобы участвовать в акции и получить возможность поехать на Чемпионат мира по футболу FIFA™. Если вы уже регистрировались, <a href="/login.html">войдите</a>, используя свои email и пароль.
        +b.FORM.lpc-form(class="validate-form")
            .input-wrapper.mr
                //- Введите Name
                .input-style
                    input.lpc-input(type="text" name="name" placeholder="" value!="" id="lpc-name" required)
                    label
                        span Имя
                    .line-v
            .input-wrapper
                //- Введите email
                .input-style
                    input.lpc-input(type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required)
                    label
                        span Email
                    .line-v
            .input-wrapper
                //- Введите номер телефона
                .input-style
                    input.lpc-input.js-tel(type="tel" name="PhoneNumber" placeholder="" value="" id="lpc-tel" required)
                    label
                        span Номер телефона
                    .line-v
            .input-wrapper
                //- Введите пароль
                .input-style
                    input.lpc-input(type="password" name="pass" placeholder="" value="" id="lpc-pass" required)
                    .eay
                        img.show(src="/img/form/eay-show.png")
                        img.hide(src="/img/form/eay-hide.png")
                    label
                        span Придумайте пароль
                    .line-v
            .input-wrapper
                //- Введите пароль
                .input-style
                    input.lpc-input(type="password" name="pass" placeholder="" value="" id="lpc-pass2" required)
                    .eay
                        img.show(src="/img/form/eay-show.png")
                        img.hide(src="/img/form/eay-hide.png")
                    label
                        span Повторите пароль
                    .line-v
            +b.lpc-policy
                    +e.LABEL.row_align-start
                        .chekbox
                            +e.INPUT.input.checkbox.lpc-checkbox(type="checkbox" name="termsofaction")
                            span.checkmark
                        +e.text Настоящим подтверждаю, что ознакомлен и согласен с <a href="#">Правилами проведения Акции</a>,  а также даю согласие на обработку моих персональных данных в соответствии с <a href="#">Правилами акции</a> и  получение SMS и E-mail сообщений от Организатора Акции, связанных с участием.


            BUTTON.btn Зарегистрироваться
        