+b.SECTION.register-suc
    .container
        +e.H1.title Зарегистрировать чек
        +e.sub.sub Чек успешно загружен!
            +e.P Сейчас он отправлен на модерацию, чтобы наши специалисты проверили его на соответствие условиям акции. Вы можете следить за вашими чеками в личном кабинете.
        A.btn(href="#") В личный кабинет