+b.SECTION.register-thank
    .container
        +e.H1.title Регистрация
        +e.sub.sub
            +e.P Спасибо за регистрацию!
            +e.P Мы отправили письмо с подтверждением на указанный вами адрес <span>zvereva@mail.com.</span>
            +e.P.em-notif Проверьте почту и перейдите по ссылке в письме, чтобы завершить регистрацию.
        +e.A.link(href="#") Перейти на главную страницу
        