+b.SECTION.winners
    .container
        .row
            +e.H1.title Победители
            A.rule <nobr>Полные правила акции</nobr> 
        +e.sub.sub Если у вас возникли вопросы или предложения, напишите нам. Мы обязательно ответим!
        .input-wrapper.inp-bord.mr
            //- Поиск
            input.lpc-input(type="text" name="name" placeholder="Поиск по номеру телефона" value!="" id="lpc-name" required)
            btn.search
        +e.win-info
            +e.tickStage
                +e.winTitle Билеты на Чемпионат мира по футболу FIFA™
                +b.tabs.tickets
                    +e.UL.caption
                        +e.linkTab_active Этап 1
                        +e.linkTab Этап 2
                    +e.content_active
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                    +e.content
                        .number +7 909 222 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
                        .number +7 909 953 2***
            +e.prizes
                +e.winTitle Поощрительные призы с автографами футболистов
                +e.TABLE.prizesTable
                    +e.THEAD
                        +e.TR
                            +e.TH Номер телефона
                            +e.TH Приз
                    +e.TBODY
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                        +e.TR
                            +e.TD +7 909 953 2***
                            +e.TD Судейская карточка
                +e.notif-rally Поощрительные призы будут разыгрываться  с 15 июля, после завершения Чемпионата мира по футболу FIFA 2018™
