* {
    html .clearfix {
    }
    &:first-child+html .clearfix {
    }
}

.clearfix:after {
}

.f {
}

.f-wr {
}

.f-sb {
}

.pad-t-b {
}

.w100 {
}

.row {
}

@mixin linear-gradient($args...) {
}

.accordion {
    &__item {
        h3 {
            &:hover {
            }
            &:before {
            }
            &:after {
            }
        }
        div {
            p {
            }
        }
        &.open {
            div {
            }
            h3 {
                &:before {
                }
                &:after {
                    content: "-";
                }
            }
        }
    }
}

//Tabs
.tabs {
    &__content {
        &_active {
        }
    }

    &__caption {
    }

    &__linkTab {
        & + li {
        }

        &_active {
        }
    }
}