body {
}

.height-helper {
}

.content {
}

.container {
}

ul {
}

.social {
    a {
        &:hover {
        }
        &:before {
        }
    }
}

.rule {
    &:after {
    }
    &:hover {
        &:after {
        }
    }
}

@media screen and (max-width: 420px) {
    .container {
    }
}