+b.HEADER.header
    .container
        +e.logos_t
            img(src="/img/home/logos.png")
        //- .social
        //-     a.fab.fa-facebook-f(href="https://www.facebook.com/gpnbonus ")
        //-     a.fab.fa-vk(href="https://vk.com/gpnbonus")
        //-     a.fab.fa-instagram(href="https://instagram.com/gpnbonus/")
        //-     a.fab.fa-telegram-plane(href="https://telegram.me/gpnbonus_bot")
        //-     a.fab.fa-viber(href="https://viber.com/gpnbonus")