+b.FORM.lpc-form(action="php/submit.php" method="POST" class="validate-form")
    +e.title Want to attend the summit?
    .input-wrapper
        //- Введите Name
        input.lpc-input(type="text" name="name" placeholder="" value!="" id="lpc-name" required)
        label
            span Name
        .line-v
    .input-wrapper
        //- Введите email
        input.lpc-input(type="email" name="email" placeholder="" onkeyup="this.setAttribute('value', this.value);" value="" id="lpc-email" required)
        label
            span Email
        .line-v

    BUTTON.btn.btn_block(type='submit') send

