+b.SECTION.menu
    +e.vertical
        +e.burger Меню
            .line
            .line
            .line
    +e.full
        .container
            +e.UL.nav
                +e.navitem_b
                    a(href="/register.html") Зарегистрировать чек
                +e.navitem
                    a(href="/") Главная
                +e.navitem
                    a(href="/prizes.html") Призы
                +e.navitem
                    a(href="/winners.html") Победители
                +e.navitem
                    a(href="/rules.html") Правила
                +e.navitem
                    a(href="/faq.html") FAQ
                +e.navitem
                    a(href="/contact-form.html") Обратная связь
                +e.navitem_sm
                    a(href="/login.html") Войти в личный кабинет
                    i.fas.fa-angle-right
        +b.FOOTER.footer
            .container
                +e.left
                    +e.contact Телефон единого центра поддержки клиентов сети АЗС «Газпромнефть»:
                    +e.SPAN.tel <nobr>8 800 700 51 51</nobr>
                    +e.desc Для участия в Акции «Заправляйся с Visa и попади на матчи FIFA™ » и розыгрыше призов необходимо заправлять автомобиль на АЗС «Газпромнефть» любым видом топлива от 25 литров, оплачивать заправку банковской картой, выпущенной на базе МПС VISA, сохранять чеки и зарегистрировать их на сайте www.gpn-promo.com. Оплата акционной заправки именуется транзакцией. Сроки совершения транзакций и регистрации чеков для участия в Акции: с 20.05.2018 по 15.07.2018 включительно. Общий срок проведения Акции: с 20.05.2018 по 31.07.2018, включая сроки выдачи призов. Количество призов ограничено. Акция проводится на АЗС «Газпромнефть» на территории РФ. Организатор Акции — ЗАО «ЭМГ Промо». Полная информация об организаторе Акции, правилах Акции, условиях участия, ограничениях, количестве призов, сроках, месте и порядке их получения — на сайте www.gpn-promo.com и по телефону 8 800 700 51 51.
                +e.right
                    +e.A.logo(href="http://www.gpnbonus.ru/" target="_blank")
                        img(src="img/home/gazprom-white.svg")
                    .social
                        a.fab.fa-facebook-f(href="https://www.facebook.com/gpnbonus ")
                        a.fab.fa-vk(href="https://vk.com/gpnbonus")
                        a.fab.fa-instagram(href="https://instagram.com/gpnbonus/")
                        a.fab.fa-telegram-plane(href="https://telegram.me/gpnbonus_bot")
                        a.fab.fa-viber(href="https://viber.com/gpnbonus")
        