+b.open-form_v2
    +e.title Получите бесплатно <b>до 20 токенов</b> проекта и войдите в закрытый <br>список инвесторов RooBee!
    form(action="")
        +b.form-sale
            +e.value -85%
            +e.step 1 этап продаж
            +e.currency 1 токен = <span>0,05$</span>
                +e.benefit 0,21$


        +e.inputs-group
            +b.input
                input(type="text" name="name")
                +e.placeholder Ваше Name:
            +b.input
                input(type="text" name="email")
                +e.placeholder Ваша эл. почта:
            +b.input
                input(type="text" name="phone")
                +e.placeholder Ваш тел:
            +e.BUTTON.btn.btn(type="submit") Продолжить
    +b.lpc-policy
        +e.LABEL.row
            +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked  name="personalAgreement")
            +e.text
                | Нажимая на кнопку, я даю свое согласие на
                |
                a(href="docs/pers-data.pdf" target="_blank") обработку персональных данных
                |  и соглашаюсь с условиями
                |
                a(href="docs/conf-policy.pdf" target="_blank") политики конфиденциальности

        +e.LABEL.row
            +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked name="")
            +e.text
                | Я согласен на получение
                |
                +e.A(href="").detail информации от данного сайта
        +e.hidden
            +e.LABEL.row
                +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked)
                +e.text Я хочу получать SMS-сообщения о мероприятиях и/или иных услугах
            +e.LABEL.row
                +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked)
                +e.text Я хочу получать email-письма о мероприятиях и/или иных услугах
            +e.LABEL.row
                +e.INPUT.checkbox.lpc-checkbox(type="checkbox" checked)
                +e.text Я хочу получать звонки о мероприятиях и/или иных услугах







